<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style media="screen">
  .channelheader-profile-mobile {
    height: 50px;
  }
  .channel-panel-btn {
      color: #fff;
      background: transparent;
      border-color: #fff;
      transition: all .4s ease;
      -webkit-transition: all .4s ease;
  }
  .channel-header-top {
      width: 100%;
      background-image: linear-gradient(to bottom, #4ba2b7, #42a6be, #38aac6, #29adcd, #0fb1d5);
      height: 50px;
  }
  .allSidesSoft {
      box-shadow: 0 3px 10px 0 rgba(115,143,147,.3);
  }
  .panel {
      border: 1px solid #DFDFDF !important;
  }
  .adminPic {
      background: rgb(255, 255, 255) !important;
      width: 50px;
      height: 50px;
      border: 2px solid #ffffff;
      border-radius: 50%;
  }
  .adminContent {
      margin-top: 10px;
  }
  .channelprofile-name-pc {
      overflow: auto;
      z-index: 1;
      height: 60px;
      margin-top: 15px;
      font-size: 20px;
      font-family: 'Open Sans', sans-serif;
      /* color: #838686; */
      overflow: hidden;
      font-weight: bold;
  }
  .commuity-profile-menu-btn {
    margin-bottom: 5px;
    float: right;
    border: 2px solid #D1CFCF;
}

.allSidesSoft {
    box-shadow: 0 3px 10px 0 rgba(115,143,147,.3);
}
.channel-user-div {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.channel-member-pic {
    height: 50px;
    width: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.comusername {
    margin-top: 20px;
    font-weight: bold;
    /* color: #7D7D7D; */
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    text-transform: capitalize;
}
.channel-user-short-btn {
    margin-top: 20px;
    color: #7D7D7D;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}
.manageChannel-btn-active {
    color: #1C73DD !important;
    font-weight: bold;
    text-decoration: none;
}
.manageChannel-child-btn {
    width: 80%;
    color: #848484;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
    margin-top: 2px;
    text-decoration: none;
}

.discussion-container {
    padding: 0 20px 0 20px;
}
.discussion-heading {
    padding-top: 10px;
    color: #878787;
    font-size: 20px;
}
.discussion-input-title {
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    word-wrap: break-word;
    font-size: 15px;
    color: #000;
    outline: none !important;
}
.discussion-panel-body {
    border-top: 1px solid #DFDFDF !important;
}
.discussion-body-textarea {
    width: 100%;
    font-size: 20px;
    border: 0;
    cursor: text !important;
    resize: none;
    outline: none !important;
}




.discussion-content {
    border: 0;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
    font-size: 16px;
    color: #000;
    outline: none !important;
    background-color: rgba(0, 0, 0, 0);
}
.comment-box {
    padding: 10px 0px 10px 0px;
}
.discussion-comment-user {
    height: 40px;
    width: 40px;
    margin-left: 0;
    border-radius: 50%;
    opacity: 0.5;
}
.reply-input {
    padding: 5px;
}
.discussion-com-profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.comment-btn-discussion {
    color: black;
    font-size: 13px;
    font-weight: bold;
    color: rgb(139, 139, 139);
}
.tag-still {
    position: relative;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    color: #39739d;
    background-color: #E1ECF4;
    border-color: #E1ECF4;
    font-size : 14px;
}
  </style>
  
    <div class="channel-header-top" style="height:50px;padding-top:6px;margin-top: 56px;">
      <a class="btn channel-head-btn active-icon" style="padding-right: 0px; font-size: 14px; margin-left: 100px ;" href="/channel">
        <i class="fa fa-users fa-set" style="font-size: 14px; color: white; border: 2px solid #fff;padding: 7;"></i>
      </a>
      <div class="col-sm-4 col-sm-push-4 pc" style="float: right;" >
        <input class="form-control searchChannelDiscover"  ng-model="searchPostString" id="search" ng-change="getMessages()" type="text" placeholder="Search Posts...">
      </div>
        
        </div>
       

<div class="container channel-profile-conatiner">
  
    
  <div class="col-sm-8 channelprofile-name-pc channelprofile-system">
    
    <a href="#" ng-bind="channel.name" class="channelprofile-name-pc">
    
    </a>
    <br>
    <div ng-repeat="tag in channel.tags" style="float:left">
        <span class="tag-still" ng-if='tag!=""''>{{tag}}</span>

    </div>
  </div>
  <hr>
  <div class="container discussion-input discussion-container">
      <div class="panel panel-default allSidesSoft" style="border-radius:0;border:1px solid rgb(182, 182, 182) !important;">
        <div class="panel-body" style="padding:5px;background:#f9f9f9;">
          <div class="col-sm-1 col-xs-3">
          
          </div>
          <p class="col-sm-11 col-xs-9 discussion-heading">
            Start a discussion
          </p>
        </div>
    

        <!-- <div class="panel-body discussion-panel-body">
          <div class="col-sm-12 col-xs-12" style="padding:30px;border-top: 1px solid white;">
            <input type="text" style="width:100%" ng-model="discussionTitle" class="discussion-input-title" name="title"  placeholder="Enter a discussion title....." id="discussion-title" autocomplete="off" required="">
          </div>
        </div> -->

        <div class="panel-body discussion-body" id="discussionbody" style="display : block;">
            <div class="col-sm-12 col-xs-12" style="padding:30px;border-top: 1px solid white;">
              <!--Textarea-->
                <textarea class="discussion-body-textarea" ng-model="discussionBody"  name="details" placeholder="Discuss..." id="discussion-details" autocomplete="off" required=""></textarea>
              <!------------>
            </div>


           
            <div class="col-sm-12 col-xs-12" style="padding:0;">
             <button class="btn btn-primary" style="margin-left: 90%; margin-right: 10%; margin-bottom: 5px; " ng-click="sendMessage()">Post</button>
            
            </div>
        </div>
    
      <div class="panel-footer"></div>
      </div>
      <div ng-repeat="x in messages">
      <div class="card mb-3 " style="max-width: 100%;margin: 2rem;-webkit-tap-highlight-color:#6F6E6E;">
        <div class="card-body">
          <h5 class="card-title" style="color: #1C73DD;">{{x.userName}}</h5>
          <small class="text-muted">posted on <i class="text-primary">{{x.createdAt | date : "MMM d, y h:mm:ss a"}}</i></small>
          <hr>
          <p class="card-text"style="min-height:80px">{{x.message}}</p>
        </div>
      </div>
    </div>
      <!-- <div style="margin-top : 20px;">
          <ul ng-repeat="x in messages">
            <div>
              <li>
                 {{x.message}}   
              </li>
              <hr>
            </div>
          </ul>
      </div> -->
    </div>

  </div>